
body{
   background-color: #222222
}
 #quizimg{
display: flex;
 justify-content: center;
}
*{
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
 }
 
 .buttonShow{
 display: flex;
 align-items: center;
 justify-content: start;
 margin-left: 5%;
 
 }
 
 #table_body{
    margin: 0px auto;
    padding: 1rem;
    width: 70%;
    }
 
 tr img {
    width: 2rem;
 }
 
 
    tbody tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem ;
    margin-bottom: 1rem ;
   }
   .question{
    font-weight: bolder;
    font-size: larger;
   }
   thead tr{
   
      display: flex; 
      align-items: center;  
      justify-content: space-between;
      }
    tbody tr.option{
    margin-bottom: 1rem ;
    border: 1px solid #007bff;
    display: flex;   
    }
 
 .option{
    box-shadow: 0px 1px 0px 0px black; 
    border-radius: 0.5rem;
    padding-left: 0.25rem;
 }
 

 .option:hover{
 
    box-shadow: 1px 1px 0px 0px #007bff;
   transform: scale(1.02);
 }
 
 .answer{
    box-shadow: 0px 1px 5px 0px black;
   background: #64FF6A;
 }
 
 .Wanswer{
    box-shadow: 0px 1px 5px 0px black;
   background: #F67373;
 }
 
 
 .questionsButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
 }
 .questionsButtons button{
  width:  2rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5rem;
 }
 
 

 
 
 .questionsButtons button:hover{
 border: 1px solid black;
    }

    .timer-div {
      background-color: #e1f5fe;
      width: 4em;
      border-radius: 1.8em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.4em 1.2em;
    }

    #table_div{
      background: white;
      margin: 1rem auto;
      padding: 2rem 0 ;
      max-width: 40rem ;
  
      border-radius: 2rem;
    }

    .showbutton{
    padding: 0.5rem 2rem;
    border-radius: 0.7rem;
     
    }

    #trhead{
      padding-bottom: 0.5rem;
      border-bottom: 1px solid black;
    }
    #trhead th p {
    font-size: large;

    }


    .nextShowButton{
    width: 90%;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 0.5rem;
    }
    .showbutton{
      background-color: #007bff;
      border:20px ;
      border-radius: 5px;
    }