.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
#form{
  margin-top: 100px;
}
.form input{
  border-radius: .7rem;

}
.form button{
border-radius: 10rem;
width: 20rem;
background-color: white;
}
.dropDown {
    border-radius: .7rem;
    width: 15rem;
    padding: .4rem;
    text-align: center;
   
  
}
body{
    background-color:#222222;
    color:#eee
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #000000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(12, 6, 6, 0.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #004dff;
  background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
.navbar-custom {
  background-color: #007bff;
  height: 70px;
}

.logo {
  font-size: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 1.5rem;
}

/* nav bar starts here */


.nav {
  display: flex;
  background-color: #007bfff2;

  align-items:center;
  justify-content: space-between;
  
  width: 100%;
  /* height: fit-content; */
  position: fixed;
  top: 0px;
  line-height: 65px;
  text-align: center;
  z-index: 1000;
  /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,inset rgba(172, 138, 16, 0.8) -6px -2px 16px -5px; */
  /* background-color: antiquewhite; */
}
nav ul {
  list-style:none;
  display: flex;
  column-gap: 3rem;
 
}

nav a {
 
  color: white;
  transition: color var(--transition);
}


/* Navbar section */



.nav div.logo {
  float: left;
  width: auto;
  height: 65px;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

nav div a .logo:hover {
  color: var(--orange);
}

.nav div.main_list {
  height: auto;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style:none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: auto;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  border: 1px solid #0022ff;
  border-radius: 5px;
  padding: 7px;
  color:#fff;
  line-height: 65px;
  font-size: 1.4rem;
  }

.nav div.main_list ul li a:hover {
  color: #ffff;
  border: 1px solid #ffb516;
  padding: 7px;
  border-radius: 5px;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3d2e74 0%,
    #3f0c77 29%,
    #ffb510 67%,
    #ffb516 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 850px) {
  .navTrigger {
    display: block;
    /* margin-top: 1rem; */
    /* margin-right:3rem; */

  }
  .nav{
    display:block;
    text-align: center;  
    background-color: #222121b9;
    height: fit-content;
    justify-items: center;
}
.logo{
  display: flex;
  justify-content: start;
  /* margin-bottom: 2rem; */
} 
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }
  .nav div.show_list {
    height: fit-content;
    display:none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 23rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #201d1d9d;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: center;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}





.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;  
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.signInBtn {
  color: #fff;
}


li a {
  color: white;
}

#lin {
  font-weight: bold;
  color: white;
}

#lin:hover {
  background: white;
  transition: .5s;
  color: black;
  border-radius: 3px;
  box-shadow: 2px 2px 5px white;


}
#name-h {
  font-family: 'Zeyada';
  font-weight: bold;
  font-size: 1rem;
  color: white;
 margin-right: 53rem; 
  /* margin-left: -rem;  */
  text-shadow: 2px 2px 5px black;
}
h6{
  display:none;
  color:red;
  font-size:.8rem;
  background-color: rgba(249, 249, 249, 0.0);
}